body {
  background:green;
}

.block {
  width: 100px;
  height: 100px;
  border: 4px solid blue;
  float: left;
  margin-right: 10px;
  background: #fff;
  text-align: center;

  &.block-1 {
    border-color: red;
  }
}
